body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#tms {
    display: flex;
    height: 400px;
    width: 400px;
    flex-direction: column;
    background-color: black;
    text-align: center;
    justify-content: space-around;
}

    p {
        font-size: 40px;
        margin: 0;
        color: white;
    }

    i {
        font-style: normal;
        color: yellow;
    }